<feed xmlns="http://www.w3.org/2005/Atom"> 
  <title><%= type.capitalize %> Weekly</title>
  <id>http://<%= type %>weekly.com/</id>
  <updated><%= issues.first.last_modified %></updated>

  <link href="http://<%= request.host %>/atom.xml" rel="self" />
  <link href="http://<%= request.host %>" />
  <link href="http://<%= type %>weekly.com/" />

  <author>
    <name>Peter Cooper</name>
    <uri>http://peterc.org</uri>
  </author>

<% issues.each do |issue| %>
  <entry>
    <title><%= type.capitalize %> Weekly Issue #<%= issue.number %></title>
    <id><%= issue.url %></id>
    <updated><%= issue.last_modified %></updated>
    <link rel="alternate" type="text/html" href="<%= issue.url %>" />
    <content type="html"><%= CGI.escapeHTML issue.content %></content>
  </entry>

<% end %>
</feed>
